<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ticket de Compra</title>
    <style>
        body {
            font-family: monospace;
            width: 58mm;
            padding: 5px;
        }
        .ticket {
            text-align: center;
        }
        .ticket hr {
            border: 1px dashed #000;
        }
        .ticket h3 {
            margin: 5px 0;
        }
    </style>
</head>
<body onload="window.print(); window.onafterprint = () => window.location.href = '{% url 'registrar_compra' %}';">
    <div class="container">
        <!-- Detalles de la venta -->
        <div class="card">
            <div class="card-header">
                <p align="center"><b>{{ empresa.nombre_empresa }}</p>
                <p align="center"><b>Sucursal: {{ sucursal.nombre_sucursal }}</p>
                <p align="center"><b>Nro. Compra #{{ compra.id_operacion_compra }}</p>
            </div>
            <div class="card-body">
                <p><strong>Fecha:</strong> {{ compra.fecha }}</p>
                <p><strong>Moneda:</strong> {{ compra.id_moneda.nombre_moneda }}</p>
                <p><strong id="usuario-nombre">Usuario: {{ request.user }}</strong></p>
                <hr>
                <p><strong>Detalle:</strong></p>
                <hr>
                    <table style="width:100%; text-align: left;">
                        <thead>
                            <tr>
                                <th>Billetes</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if compra.corte_100 > 0 %}
                            <tr>
                                <td>100 Bs</td>
                                <td>{{ compra.corte_100 }}</td>
                            </tr>
                            {% endif %}
                            {% if compra.corte_50 > 0 %}
                            <tr>
                                <td>50 Bs</td>
                                <td>{{ compra.corte_50 }}</td>
                            </tr>
                            {% endif %}
                            {% if compra.corte_20 > 0 %}
                            <tr>
                                <td>20 Bs</td>
                                <td>{{ compra.corte_20 }}</td>
                            </tr>
                            {% endif %}
                            {% if compra.corte_10 > 0 %}
                            <tr>
                                <td>10 Bs</td>
                                <td>{{ compra.corte_10 }}</td>
                            </tr>
                            {% endif %}
                            {% if compra.corte_5 > 0 %}
                            <tr>
                                <td>5 Bs</td>
                                <td>{{ compra.corte_5 }}</td>
                            </tr>
                            {% endif %}
                            {% if compra.corte_1 > 0 %}
                            <tr>
                                <td>1 Bs</td>
                                <td>{{ compra.corte_1 }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                <hr>         
                <p><strong>Total Comprado:</strong> {{ compra.total_calculado }}</p>
                <!-- Información de la moneda y el usuario (solo IDs) -->
                <p><strong>Observaciones:</strong> {{ compra.observaciones }}</p>

                <hr>
                <p align="center">Este recibo no tiene valor fiscal</p>
            </div>
        </div>
    </div>
</body>
</html>
