{% extends 'base.html' %}
{% block title %}
Edición de Empresa
{% endblock %}
{% block content %}


<h2 class="text-center my-4">Editar Información de la Empresa</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
        {% endfor %}
    {% endif %}
<form method="POST" class="mx-auto" style="max-width: 600px;">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Nombre Empresa</label>
        <input type="text" class="form-control" name="nombre_empresa" value="{{ empresa.nombre_empresa }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Dirección</label>
        <input type="text" class="form-control" name="direccion" value="{{ empresa.direccion }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input type="text" class="form-control" name="telefono" value="{{ empresa.telefono }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
<script>
  // Espera 3 segundos y cierra automáticamente todas las alertas Bootstrap
  setTimeout(function() {
    var alertList = document.querySelectorAll('.alert');
    alertList.forEach(function(alert) {
      var bsAlert = new bootstrap.Alert(alert);
      bsAlert.close();
    });
  }, 3000); // 3000 milisegundos = 3 segundos
</script>

{% endblock %}